body {
    margin: 0px;
    font-family: "times new roman", times, georgia, serif;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    margin: 0px;
    padding: 0px;
}

a {
    color: #f9faf8;
    text-decoration: none;
    
} 

a:hover {
    color: rgb(37, 76, 250);
}

img {
    max-width: 200px;
}

.navbar,
.header,
.content,
.quote,
.footer {
    padding: 1% 15%;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 100px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin: 8px 0px;
}

.hero-img {
    max-width: 400px;
    padding: 18px 0px;
}

.title>p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 18px;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: rgb(30, 30, 31);
    text-align: center;
}


.header-left {
    max-width: 400px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 14px;
    padding: 4px 16px;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color:black;
}

button:hover {
    background-color: #0056e0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sample-box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 20px;
    font-size: 18px;
}

.sample-box>img {
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.quote {
    font-size: 30px;
    color: #1f2937;
    font-weight: 200;
    background-color: #e5e7eb;
    font-family:  'Courier New', Courier, monospace;
}

.author {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    margin: 0px 36px;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 20px 40px;
    border-radius: 12px;
}

.call>button {
    border-color: #f9faf8;
}

div>strong {
    font-size: 24px;
}

.outer {
    padding: 2% 13%;
}

.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 12px;
    text-align: center;
}
@media (max-width: 950px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .hero-img {
        max-width: 85%;
    }

}